# MILESTONE 2

In [2]:
import seaborn as sns
import numpy as np
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn import preprocessing
import nltk as nltk
import cv2
import imageio
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
from nltk.draw.dispersion import dispersion_plot
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import KFold 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import log_loss
from sklearn.metrics import f1_score


from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")
#                         category=DeprecationWarning)


pd.set_option('display.max_rows', None)
df = pd.read_json('C:/Users/Desktop/459FinalProject/train.json')
df.head()

ValueError: Expected object or value

# Classification without outlier removal

## Decision tree

In [ ]:
## DECISION TREE CODE

## Logistic regression

In [59]:
new_df = df.drop(['description', 'building_id', 'manager_id', 'created', 'display_address', 'listing_id', 'street_address', 'photos'], axis=1)
df0 = new_df.drop(['features','interest_level'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(df0, new_df['interest_level'], test_size=0.40, random_state=0)
 
logreg = LogisticRegression(random_state=0)

clf.fit(X_train, y_train)
 
print("Before outlier removal: ", clf.score(X_test, y_test))

Before outlier removal:  0.695

## SVM

In [45]:
new_df = df.drop(['description', 'building_id', 'manager_id', 'created', 'display_address', 'listing_id', 'street_address', 'photos'], axis=1)
df0 = new_df.drop(['features','interest_level'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(df0, new_df['interest_level'], test_size=0.40, random_state=0)
 
clf = SVC(gamma=10)

clf.fit(X_train, y_train)
print("Before outlier removal: ", clf.score(X_test, y_test))

Before outlier removal:  0.695

# Outlier removal 

### 1. price

In [28]:
df_price = df['price']  
IQR = df_price.quantile(0.75)-df_price.quantile(0.25)
upper = df_price.quantile(0.75)+IQR*1.5
lower = df_price.quantile(0.25)-IQR*1.5 

df1 = df[(df['price'] <upper) & (df['price'] >lower)]
df1.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,9406.000000,9406.000000,9406.000000,9.406000e+03,9406.000000,9406.000000
mean,1.139592,1.476079,40.752043,7.161341e+06,-73.971537,3277.191686
std,0.372602,1.059230,0.067396,5.027280e+04,0.052609,1118.313992
min,0.000000,0.000000,40.575800,7.087701e+06,-76.633600,700.000000
25%,1.000000,1.000000,40.727300,7.121902e+06,-73.991600,2495.000000
50%,1.000000,1.000000,40.751700,7.159148e+06,-73.977200,3059.500000
75%,1.000000,2.000000,40.774600,7.197453e+06,-73.953900,3895.000000
max,4.000000,8.000000,44.603800,7.731327e+06,-71.079400,6540.000000

### 2. Latitude Attribute

In [30]:
df_lat = df1['latitude']

IQR = df_lat.quantile(0.75)-df_lat.quantile(0.25)
upper = df_lat.quantile(0.75)+IQR*1.5
lower = df_lat.quantile(0.25)-IQR*1.5
 
df2 = df1[(df1['latitude']<upper) & (df1['latitude']>lower)]
df2.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,9086.000000,9086.000000,9086.000000,9.086000e+03,9086.000000,9086.000000
mean,1.140986,1.471164,40.750771,7.161424e+06,-73.972558,3321.198767
std,0.372913,1.061662,0.034619,5.053893e+04,0.028900,1106.764221
min,0.000000,0.000000,40.656700,7.087701e+06,-74.045400,950.000000
25%,1.000000,1.000000,40.727825,7.121546e+06,-73.991700,2500.000000
50%,1.000000,1.000000,40.751600,7.159454e+06,-73.977900,3100.000000
75%,1.000000,2.000000,40.773500,7.197719e+06,-73.954900,3919.750000
max,4.000000,8.000000,40.845500,7.731327e+06,-73.714200,6540.000000

### 3. Longitude Attribute

In [31]:
df_long = df2['longitude']
 
IQR = df_long.quantile(0.75)-df_long.quantile(0.25)
upper = df_long.quantile(0.75)+IQR*1.5
lower = df_long.quantile(0.25)-IQR*1.5 
df3 = df2[(df2['longitude'] >lower) & (df2['longitude']<upper)]
df3.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,8906.000000,8906.000000,8906.000000,8.906000e+03,8906.000000,8906.000000
mean,1.140972,1.474736,40.751176,7.161509e+06,-73.975053,3347.780148
std,0.372746,1.064818,0.034617,5.075830e+04,0.022844,1098.383624
min,0.000000,0.000000,40.656700,7.087701e+06,-74.045400,950.000000
25%,1.000000,1.000000,40.728500,7.121543e+06,-73.992100,2525.000000
50%,1.000000,1.000000,40.752050,7.159691e+06,-73.978400,3150.000000
75%,1.000000,2.000000,40.774000,7.197980e+06,-73.956300,3950.000000
max,4.000000,8.000000,40.845500,7.731327e+06,-73.899900,6540.000000

### 4. Bedrooms Attribute

In [32]:
df_bedrooms = df3['bedrooms']
 
IQR = df_bedrooms.quantile(0.75)-df_bedrooms.quantile(0.25)
upper = df_bedrooms.quantile(0.75)+IQR*1.5
lower = max(df_bedrooms.quantile(0.25)-IQR*1.5, 0)
 
df4 = df3[(df3['bedrooms'] >= lower) & (df3['bedrooms'] <= upper)]
df4.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,8627.000000,8627.000000,8627.000000,8.627000e+03,8627.000000,8627.000000
mean,1.120552,1.389939,40.750966,7.161469e+06,-73.975264,3289.211661
std,0.349161,0.967729,0.034350,5.096753e+04,0.022823,1051.207909
min,0.000000,0.000000,40.656700,7.087719e+06,-74.045400,950.000000
25%,1.000000,1.000000,40.728500,7.121489e+06,-73.992200,2500.000000
50%,1.000000,1.000000,40.751800,7.159435e+06,-73.978600,3100.000000
75%,1.000000,2.000000,40.773600,7.197934e+06,-73.956300,3850.000000
max,3.000000,3.000000,40.845500,7.731327e+06,-73.899900,6540.000000

### 5. Bathrooms Attribute

In [34]:
df_bathrooms = df4['bathrooms']
 
IQR = df_bathrooms.quantile(0.75)-df_bathrooms.quantile(0.25)

upper = math.ceil(df_bathrooms.quantile(0.75)+IQR*1.5)
lower = max(df_bathrooms.quantile(0.25)-IQR*1.5, 0)
average = sum(df_bathrooms) / len(df_bathrooms)

df5 = df4[(df4['bathrooms'] >= lower) & (df4['bathrooms'] <= upper)]
df5.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,7424.0,7424.000000,7424.000000,7.424000e+03,7424.000000,7424.000000
mean,1.0,1.242592,40.751037,7.161486e+06,-73.975252,3080.026536
std,0.0,0.919507,0.034527,5.136457e+04,0.022902,871.394296
min,1.0,0.000000,40.656700,7.087719e+06,-74.032100,950.000000
25%,1.0,1.000000,40.728400,7.121154e+06,-73.992400,2475.000000
50%,1.0,1.000000,40.751600,7.159556e+06,-73.978700,2950.000000
75%,1.0,2.000000,40.773500,7.198079e+06,-73.956200,3550.000000
max,1.0,3.000000,40.845400,7.731327e+06,-73.899900,6500.000000

### 6. Features Attribute

In [35]:
df5.reset_index(drop=True, inplace=True)

stopWords = stopwords.words('english')
add_words = [".", "..", "...", ",", "/", "/lndry", ":", "b","â€™", "â€¢", "this",
             "l", "&", "*", "ss", "in","**", "***", "!","!!","!!!","!!!!", "w/", "(", ")", 
             "'s", "$", "'", "..", "01", "01 16","04", "05", "05 01", "06", "05 01 16", "0862", "in"]
stopWords.extend(add_words)


features = df5['features']
wordSetRow = []
for words in features:
    wordsForRows = ""
    for word in words:
        if word.lower() not in stopWords:
            if(wordsForRows == ""):
                wordsForRows = word.lower()
            else:
                wordsForRows = wordsForRows + " " + word.lower()
                
    wordSetRow.append(wordsForRows)

cv=TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1,2))
x_traincv = cv.fit_transform(wordSetRow)
new_features = pd.DataFrame(
    x_traincv.todense(),
    columns=cv.get_feature_names(),
)
df6 = pd.concat([df5, new_features], axis=1, sort=False)
df6.head(10)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,...,wheelchair ramp,wifi,wifi access,windows,windows galore,with,work,work laundry,work pre,yoga
0,1.0,1,04f5b303e487287cd749a5a3073a4d4e,2016-06-24 07:29:05,Astonishing colossal 1 bedroom in Prime Midtow...,West 48th Street,[Hardwood Floors],40.7627,7210791,-73.9905,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,3,cb51f30e806da9410ac968ef0cc25c9d,2016-06-29 06:37:37,"A large, renovated true three bedroom apartmen...",East 95th Street,"[Garden/Patio, Pre-War, Laundry in Building, L...",40.7839,7233657,-73.9488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1,a3df5e1e3d4479eb07e112e569bbeb05,2016-06-08 02:59:36,Beautiful Renovated Really Large 1BR in the G...,E 18 Street,"[Doorman, Elevator, Dishwasher, Hardwood Floor...",40.7358,7124045,-73.9859,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0,0a478756a98f68d50271c3eb46847372,2016-06-17 03:20:20,Gut renovated and beautifully sun drenched stu...,W 8 Street,"[Cats Allowed, Dogs Allowed, Dishwasher, Hardw...",40.7336,7176171,-73.9991,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,3,bb8658a3e432fb62a440615333376345,2016-06-18 03:19:03,Flexible move-in dates available for this flex...,Washington Street,"[Roof Deck, Doorman, Elevator, Fitness Center,...",40.7080,7181004,-74.0149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,3,34b75f03d5877e3e023e49e807ff8076,2016-06-07 02:13:42,Very Large and Renovated 2 Bedroom Railroad ap...,31-57 42nd St,"[Newly renovated, No pets]",40.7591,7117652,-73.9164,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,1,eaea5041914df950dc56f7782a35e426,2016-06-21 05:07:34,Beautiful 1BR in the Upper East Side** If you...,E 65 Street,[Hardwood Floors],40.7631,7191437,-73.9581,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.0,3,5fcf8f3a026126738344abdd4c61f2e2,2016-06-22 05:22:55,This Spacious Convertible 3 apartment with cit...,Rector Street,"[Doorman, Elevator, Laundry in Unit, Dishwashe...",40.7083,7200182,-74.0149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,1,0,2016-06-16 01:26:43,*Large one bedroom with a perfect Upper West S...,Broadway,"[Swimming Pool, Doorman, Fitness Center, Dogs ...",40.7725,7166086,-73.9819,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,2,80529abba2d1dabe6dffd7eeee281b70,2016-06-12 06:51:13,Modern and Convenient 2 Bedroom in Wil...,409 Broadway,[Elevator],40.7069,7147370,-73.9532,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Classification after outlier removal

## Linear regression

In [61]:
df7 = df6.drop(['features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)
X=df7
y = df6["interest_level"]  

X.shape, y.shape

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=0)
 
logreg = LogisticRegression(random_state=0)

clf.fit(X_train, y_train)
print("After outlier removal: ", clf.score(X_test, y_test))

After outlier removal:  0.6973063973063973

## SVM

In [41]:
df7 = df6.drop(['features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)
X=df7
y = df6["interest_level"]  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=0)
 
clf = SVC(gamma=10)

clf.fit(X_train, y_train)
print("After outlier removal: ", clf.score(X_test, y_test))

After outlier removal:  0.6973063973063973

# Classification with cross validation

## Decision Tree

## Logistic regression
### 1. Logistic regression without modifications

In [66]:

df7 = df6.drop(['features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)
X=df7[0:36406]
y = df6["interest_level"]

In [67]:
# Split labeled data into 60% training dataset and 40% test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

logreg = LogisticRegression(random_state=0, class_weight='balanced')

# Performed 5-fold cross validation on the training dataset.
clf = logreg.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv=5)

# Predict labels on the test data using the trained classifier.
predictions = logreg.predict(X_test)

# Calculate the F1 score by comparing predicted and actual labels.
F1 = f1_score(y_test, predictions, average='weighted')

# calculate log loss
y_prob = logreg.predict_proba(X_test) 
logloss = log_loss(y_test, y_prob)



print("Average accuracy from the cross-validation:" + str(np.mean(scores)))
print("Model accuracy on the test dataset: " + str((logreg.score(X_test, y_test))))
print("F1 score: " + str(F1))
print("Log loss: " + str(logloss))

Average accuracy from the cross-validation:0.6741664365785744
Model accuracy on the test dataset: 0.677737881508079
F1 score: 0.5837856660402252
Log loss: 0.8771373139223496

### 2. Logistic regression after irrelevant feature removal

In [58]:
df7 = df6.drop(["listing_id",'bathrooms', 'bedrooms','features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)

X=df7[0:36406]
y = df6["interest_level"]  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

logreg = LogisticRegression(random_state=0)
 

# Performed 5-fold cross validation on the training dataset.
clf = logreg.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv=5)

# Predict labels on the test data using the trained classifier.
predictions = logreg.predict(X_test)

# Calculate the F1 score by comparing predicted and actual labels.
F1 = f1_score(y_test, predictions, average='weighted')
 
y_prob = logreg.predict_proba(X_test) 
logloss = log_loss(y_test, y_prob)


print("Average accuracy from the cross-validation:" + str(np.mean(scores)))
print("Model accuracy on the test dataset: " + str((logreg.score(X_test, y_test))))
print("F1 score: " + str(F1))
print("Log loss: " + str(logloss))

Average accuracy from the cross-validation:0.6904081756326287
Model accuracy on the test dataset: 0.6946529939571507
F1 score: 0.5973492366875601
Log loss: 0.7219180866397421

### 3. Logistic regression with data normalization

In [70]:

df7 = df6.drop(['listing_id','features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)
X=df7[0:36406]
y = df6["interest_level"]  
# Split labeled data into 60% training dataset and 40% test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

logreg = LogisticRegression(random_state=0)

normalizer = preprocessing.Normalizer().fit(X) 
normalizer.transform(X)

# Performed 5-fold cross validation on the training dataset.
clf = logreg.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv=5)

# Predict labels on the test data using the trained classifier.
predictions = logreg.predict(X_test)

# Calculate the F1 score by comparing predicted and actual labels.
F1 = f1_score(y_test, predictions, average='weighted')

# calculate log loss
y_prob = logreg.predict_proba(X_test) 
logloss = log_loss(y_test, y_prob)



print("Average accuracy from the cross-validation:" + str(np.mean(scores)))
print("Model accuracy on the test dataset: " + str((logreg.score(X_test, y_test))))
print("F1 score: " + str(F1))
print("Log loss: " + str(logloss))

Average accuracy from the cross-validation:0.6998939797095838
Model accuracy on the test dataset: 0.703770197486535
F1 score: 0.6151663159475064
Log loss: 0.6977420408335882

## 4. Logistic regression with regularization

In [81]:

df7 = df6.drop(['listing_id','features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)
X=df7[0:36406]
y = df6["interest_level"]  
# Split labeled data into 60% training dataset and 40% test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

# Set the inverse-regularization parameter C 
logreg = LogisticRegression(random_state=0, C=10**(7))

normalizer = preprocessing.Normalizer().fit(X) 
normalizer.transform(X)

# Performed 5-fold cross validation on the training dataset.
clf = logreg.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv=5)

# Predict labels on the test data using the trained classifier.
predictions = logreg.predict(X_test)

# Calculate the F1 score by comparing predicted and actual labels.
F1 = f1_score(y_test, predictions, average='weighted')

# calculate log loss
y_prob = logreg.predict_proba(X_test) 
logloss = log_loss(y_test, y_prob)



print("Average accuracy from the cross-validation:" + str(np.mean(scores)))
print("Model accuracy on the test dataset: " + str((logreg.score(X_test, y_test))))
print("F1 score: " + str(F1))
print("Log loss: " + str(logloss))

Average accuracy from the cross-validation:0.7031263040419664
Model accuracy on the test dataset: 0.7033213644524237
F1 score: 0.6251883650930844
Log loss: 0.6945645133254531

## SVM

In [ ]:
df7 = df6.drop(['bathrooms', 'bedrooms','features','description', 'building_id', 'manager_id',
                'created', 'display_address', 'street_address', 'photos', 'interest_level'], axis=1)

X=df7[0:36406]
y = df6["interest_level"]  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

svm = SVC(gamma=10)

# Performe 5-fold cross validation on the training dataset, consisting of 4 training and 1 validation subsets.
clf = svm.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv=5)

# Predict labels on the test data using the trained classifier.
predictions = svm.predict(X_test)

# Calculate the F1 score by comparing predicted and actual labels.
F1 = f1_score(y_test, predictions, average='weighted')

y_prob = logreg.predict_proba(X_test) 
logloss = log_loss(y_test, y_prob)

print("Average accuracy from the cross-validation:" + str(np.mean(scores)))
print("Model accuracy on the test dataset: " + str((logreg.score(X_test, y_test))))
print("F1 score: " + str(F1))
print("Log loss: " + str(logloss))

## BONUS (Distance from Manhattan)

In [12]:
# Creating Manhattan distance attributes and adding to the dataset
df8 = df7
soho_north = 40.7233
soho_west = 74.0030
df8['soho_long'] = abs(df7['latitude'] - soho_north)
df8['soho_lati'] = abs(df7['longitude'] + soho_west)
df8.head()

,bathrooms,bedrooms,latitude,listing_id,longitude,price,000,000 square,01,01 16,...,yard,yoga,yoga and,yoga room,yoga studio,york,york harbor,your,soho_long,soho_lati
0,1.0,1,40.7108,7170325,-73.9539,2400,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0125,0.0491
1,1.0,2,40.7513,7092344,-73.9722,3800,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0280,0.0308
2,1.0,2,40.7575,7158677,-73.9625,3495,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0342,0.0405
3,1.0,0,40.7439,7225292,-73.9743,2795,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0206,0.0287
4,1.0,0,40.7769,7114138,-73.9467,1945,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0536,0.0563

In [13]:
X=df8[0:36406] 

# Split labeled data into 60% training dataset and 40% test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

logreg = LogisticRegression(random_state=0)

# Performed 5-fold cross validation on the training dataset.
clf = logreg.fit(X_train, y_train)
scores = cross_val_score(clf, X, y, cv=5)

# Predict labels on the test data using the trained classifier.
predictions = logreg.predict(X_test)

# Calculate the F1 score by comparing predicted and actual labels.
F1 = f1_score(y_test, predictions, average='weighted')

# calculate log loss
y_prob = logreg.predict_proba(X_test) 
logloss = log_loss(y_test, y_prob)



print("Average accuracy from the cross-validation:" + str(np.mean(scores)))
print("Model accuracy on the test dataset: " + str((logreg.score(X_test, y_test))))
print("F1 score: " + str(F1))
print("Log loss: " + str(logloss))

Average accuracy from the cross-validation:0.6856012756120279
Model accuracy on the test dataset: 0.6876945614356345
F1 score: 0.5604376770946726
Log loss: 0.7710650877181513